body {
    margin: 0 auto;
    width: 100%
}

header {
    width: 100%;
}

.logo {
    float: left;
    width: 25%;
    padding-left: 1%;
}

nav {
    width: 75%;
    float: left;
}

nav ul{
    
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

